<%=content_for:head do%>
<title>Pierre Lazarte</title>

<% end %>
<%=content_for:intro do%>
<h1>Pierre Lazarte</h1>
<h2>esta es mi historia</h2>
<%end%>
<p>Tecnico en electronica industrial, egresado de senati y estudios universigbnhnhgjtarios en la UTP hasta 4to ciclo de ing. mecatronica.</p>
